img{
    width: 50%;
    display: block;
    margin: auto;
    border: black double 5px;
}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Inicio{
    text-align: center;
}
.Frase{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
li{
    padding: 10px;
}
footer{
    margin-top: 50px;
}
body{
    background-color:darksalmon;
}
